<h1>Appointment for  
<%= (@patients.find(@appointment.patient_id)).name %>
</h1>



with <%= (@physicians.find(@appointment.physician_id)).name %>


<br>
<br>
[put details here]

<br>
Edit and Delete Actions needed here